.table-loader {
    text-align: center;
}

td {
    padding: 5px;
}

.amount-cell {
    text-align: right;
}

.delete-button {
    float: right;
}

/*.input-group{
    margin-bottom: 5px;
}

#taskEdit .input-group-addon {
    min-width: 70px;
    text-align: left;
}

.multi-line-text {
    margin-left: 2px;
    min-width: 100%;
}*/

.table a {
    text-decoration: none;
}

.button-column{
    width: 100px;
    text-align:right;
}

.button-column a{
    margin-right: 5px;
}

select.form-control{
    height: auto;
    padding: 0;
}