/*#region sidebar */

#wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

    #wrapper.toggled {
        padding-left: 220px;
    }

        #wrapper.toggled #sidebar-wrapper {
            width: 220px;
        }

#page-content-wrapper {
    padding: 5px;
}

#sidebar-wrapper {
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 0;
    z-index: 1000;
    float: left;
    background-color: #2c3e50;
    height: 100%;
}

.standard-transition {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.burger{
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    background-color: transparent;
    background-image: none;
    border: 1px solid grey;
    border-radius: 4px
}

.burger .icon-bar{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: black;
    margin-top: 3px;
}

/*#endregion */

.table-loader {
    text-align: center;
}

td {
    padding: 5px;
}

.amount-cell {
    text-align: right;
}

.delete-button {
    float: right;
}

/*.input-group{
    margin-bottom: 5px;
}

#taskEdit .input-group-addon {
    min-width: 70px;
    text-align: left;
}

.multi-line-text {
    margin-left: 2px;
    min-width: 100%;
}*/

.table a {
    text-decoration: none;
}

.button-column {
    width: 100px;
    text-align: right;
}

    .button-column a {
        margin-right: 5px;
    }

select.form-control {
    height: auto;
    padding: 0;
}
