
/*#region native */

body {
    position: relative;
    overflow-x: hidden;
}

td {
    padding: 5px;
}


/*#endregion */

/*#region sidebar */

#wrapper {
}

    #wrapper.toggled {
        padding-left: 220px;
    }

        #wrapper.toggled #sidebar-wrapper {
            width: 220px;
        }

            #wrapper.toggled #sidebar-wrapper .sidebar-content {
                display: block;
            }

        #wrapper.toggled #page-content-wrapper {
            margin-right: -220px;
            position: absolute;
        }

#page-content-wrapper {
    padding: 5px;
    width: 100%;
}

#sidebar-wrapper {
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 0;
    z-index: 1000;
    float: left;
    height: 100%;
}

    #sidebar-wrapper .sidebar-content {
        display: none;
    }

.standard-transition {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.burger {
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    background-color: transparent;
    background-image: none;
    border: 1px solid grey;
    border-radius: 4px;
}

    .burger .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: black;
        margin-top: 3px;
    }

/*#endregion */

/*#region table */

.table-loader {
    text-align: center;
}

.amount-cell {
    text-align: right;
}

.delete-button {
    float: right;
}

.table a {
    text-decoration: none;
}

/*#endregion */

/*#region forms */

.button-column {
    width: 100px;
    text-align: right;
}

    .button-column a {
        margin-right: 5px;
    }

select.form-control {
    height: auto;
    padding: 0;
}


/*#endregion */
