<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <outboundRules>
        <rule name="Set custom HTTP response header" enabled="true">
          <match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="main.js" />
          </conditions>
          <action type="Rewrite" value="gzip"/>
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>