<div id="wrapper" class='container-fluid standard-transition' (window:resize)="onResize()">

    <!-- sidebar -->
    <nav id="sidebar-wrapper" role="navigation">
        <div class="sidebar-content standard-transition">
            <h4>
                Task Manager
            </h4>
            <ul>
                <li><a (click)="beforeNav()" [routerLink]="['home']">Home</a></li>
                <li><a (click)="beforeNav()" [routerLink]="['tasks']">Tasks</a></li>
                <li><a (click)="beforeNav()" [routerLink]="['categories']">Categories</a></li>
                <li><a (click)="beforeNav()" [routerLink]="['about']">Examples</a></li>
                <li><a (click)="beforeNav()" [routerLink]="['grid']">Grid</a></li>
                <li><a (click)="beforeNav()" [routerLink]="['list/1']">cat list</a></li>
                <li><a (click)="beforeNav()" [routerLink]="['list/2']">task list</a></li>
            </ul>
        </div>
    </nav>

    <!-- page -->
    <div id="page-content-wrapper" class="standard-transition">

        <button (click)="toggleSidebar()" class="burger">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

        </button>

        <!-- router content -->
        <router-outlet></router-outlet>

    </div>

    <div class="device-xs visible-xs"></div>
    <div class="device-sm visible-sm"></div>
    <div class="device-md visible-md"></div>
    <div class="device-lg visible-lg"></div>

</div>