<!-- top bar -->
<nav class="navbar navbar-static-top">
    <span class="sidebar-title"><b>Task</b>Manager</span>
</nav>

<div id="wrapper" class='container-fluid standard-transition' (window:resize)="onResize()">

    <!-- sidebar -->
    <nav id="sidebar-wrapper" role="navigation">
        <div class="sidebar-content standard-transition">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/img/user.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Jon Smith</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <ul>
                <li><a (click)="beforeNav()" [routerLink]="['home']">Home</a></li>
                <li><a (click)="beforeNav()" [routerLink]="['tasks']">Tasks</a></li>
                <li><a (click)="beforeNav()" [routerLink]="['categories']">Categories</a></li>
                <li><a (click)="beforeNav()" [routerLink]="['about']">Examples</a></li>
                <li><a (click)="beforeNav()" [routerLink]="['grid']">Grid</a></li>
                <li><a (click)="beforeNav()" [routerLink]="['list/1']">cat list</a></li>
                <li><a (click)="beforeNav()" [routerLink]="['list/2']">task list</a></li>
            </ul>
        </div>
    </nav>

    <!-- page -->
    <div id="page-content-wrapper" class="standard-transition">

        <button (click)="toggleSidebar()" class="burger">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

        </button>

        <!-- router content -->
        <router-outlet></router-outlet>

    </div>

    <div class="device-xs visible-xs"></div>
    <div class="device-sm visible-sm"></div>
    <div class="device-md visible-md"></div>
    <div class="device-lg visible-lg"></div>

</div>