<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xunit.methodDisplay" value="method" />
  </appSettings>
  <connectionStrings>
    <add name="TaskManager" connectionString="server = ACCESS-1303SF2\SQL2014 ; database = TaskManager ; user id = sa ; pwd = Patrick@1" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>